<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Green Life </title>
    <link rel="stylesheet" media="screen and (min-width: 800px) and (orientation:landscape)" href="desktop.css">
    <link rel = "shortcut icon" type = "image/png" href = "/img/icone.png" />
</head>

<body>

    <header>
        <img src="/img/logo.png" alt="Logo" id="logo"></img>
        <input type="text" placeholder="Pesquise aqui..." id="input">
        <button onclick="pesquisa()">🔍</button>
        <div id="menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </header>

    <nav>

    </nav>