<!DOCTYPE html>
<html lang="pt-br">
    
    <%- include("./header.ejs"); %>

        <main style="width: 100%; height: 200px;" id="main">
            <div id="principal" class="blc cent">
                
            </div>

            
            <%- include("./menu.ejs"); %>
            
        </main>
        

        <%- include("./scripts.ejs"); %>

    </body>

</html>