<div id="divMenu" class="rem">
    <nav class="ftPerfil">
        <img src="/img/ftPerfil.png">
    </nav>
    <section>
        <img class="back" src="/img/logo.png">
        <div id="esq">
            <div class="divForm">
                <label for="form"><span> Cadastre-se </span><br><br><span> para receber notícias por email </span><br><br><br></label>
                <form id="form" action="/newUser" method="post">
                    <input type="text" id="nome" name="nome" placeholder="Nome..." required> <br>
                    <input type="email" id="email" name="email" placeholder="Email..." required> <br>
                    <input type="password" id="senha" name="senha" placeholder="Senha..." required> <br>
                    <input type="submit" value="Enviar">
                    <!-- <button onclick="envForm()">Enviar</button> -->
                </form>
            </div>
        </div>

        <div id="dir">
            <div class="topicos">
                <ul>
                    <li><a href="/vidaSustentavel">Vida Sustentável</a>
                        <ul>
                            <li> <a href="/vidaSustentavel#estVdSus"> Estilo de Vida Sustentável </a> </li>
                            <li> <a href="/vidaSustentavel#pqVdSus"> Devo Praticar? </a> </li>
                            <li> <a href="/vidaSustentavel#cmVdSus"> Como adotar? </a> </li>
                        </ul>
                    </li>
                    <li>topico 2</li>
                    <li>topico 3</li>
                </ul>
            </div>
        </div>
        
        
    </section>
    

</div>