<!DOCTYPE html>
<html lang="pt-br">
    <%- include("./header.ejs"); %>

        <main id="main">
            <div id="principal" class="blc">
                <img class="banner" src="/img/bannerTIverde.png" alt="Imagem TI verde">
                <section class="ctr">
                    <label>

                        <h1> O que é a TI verde? </h1>

                        <p>A expressão TI verde vem do inglês, Green IT, e refere-se a um
                            movimento global na área de Tecnologia da Informação, em prol da
                            redução dos efeitos do consumo de tecnologia nas cadeias produtivas e
                            ecossistemas.
                        </p>

                        <p>O conceito envolve um conjunto de práticas mais ecológicas, entre elas o
                            armazenamento em nuvem, a melhora no consumo de energia, a
                            modernização de equipamentos para aumentar sua vida útil e o
                            estabelecimento de uma política eficiente de descarte.
                        </p>

                        <p> Em um contexto mais amplo, portanto, a TI verde faz parte de um
                            movimento de conscientização sobre a gravidade da situação climática e a
                            necessidade de reestruturação das cadeias produtivas, desde a extração
                            de matéria-prima até o descarte de materiais – contribuindo para
                            a criação de uma economia circular e regenerativa.</p>

                        <p>Como transformar minha TI em uma TI verde?</p>

                        <p>Mas não pense que uma boa implementação garante automaticamente
                            seu carimbo verde: para isso, é preciso obter uma certificação
                            internacional, em um processo criterioso e que demanda aferições
                            frequentes.</p>

                        <p>Para, de fato, alcançar o status de TI verde, deve-se estar em
                            conformidade com a ISO 14001, que determina os requisitos de um
                            sistema de gestão ambiental. A norma é responsável por medir o impacto
                            de uma série de negócios no meio ambiente.</p>

                        <h2 id="pqTI"> Por que você deve prestar atenção nisso </h2>

                        <p> Ao longo do tempo, os avanços tecnológicos sempre exigiram muita
                            resiliência dos ecossistemas terrestres. Isso vem desde a era das grandes
                            máquinas nas fábricas industriais até os computadores, periféricos e
                            componentes eletrônicos da era digital.
                        </p>

                        <p>O impacto, é claro, é diferente. Mas faz parte do esforço atual de combate
                            às mudanças climáticas implementar medidas ainda mais arrojadas para
                            recuperar o tempo perdido.
                        </p>

                        <p>Um estudo da Gartner que data de 2007 estima que a indústria de TI era
                            responsável por cerca de 2% das emissões de dióxido de carbono (CO 2 )
                            na atmosfera. Como o principal protagonista destes números está o altoconsumo de energia decorrente do processo de produção de
                            equipamentos.</p>

                        <p>É claro que o progresso tecnológico nos ajuda a descobrir soluções que
                            também preservam o meio ambiente. Mas um dado tão evidente quanto
                            esse é também uma oportunidade clara de redução da pegada
                            tecnológica.</p>

                        <p>Para além disso, diante de todo o movimento do mundo empresarial em
                            direção aos critérios ESG, adotar boas práticas de sustentabilidade nos
                            departamentos de TI passou a ser um compromisso estratégico de toda a
                            organização.</p>

                        <img src="/img/TIverde.png" alt="[imagem]TI verde: ">

                        <h2 id="bnTI"> Quais são os benefícios da TI Verde? </h2>

                        <p>Além da questão da ética ambiental, existe o retorno econômico de ter
                            uma gestão sustentável do seu setor de TI, o que torna a estratégia
                            interessante para organizações de todos os tipos e tamanhos. 
                        </p>

                        <p>É natural que empresas com orçamento mais modesto tenham
                            dificuldade em implementar iniciativas verdes, afinal, é necessário um
                            investimento inicial. Mas ao passo que as ações vão sendo realizadas, os
                            ganhos de eficiência, produtividade e redução de custos são evidentes.
                            Essa economia gera fôlego no caixa para novas melhorias.</p>

                        <p>Dito isso, para as empresas menores, consolidar essas práticas
                            sustentáveis, mesmo em pequena e microescala, prepara o terreno para
                            modificações maiores de acordo com o desenvolvimento dessas
                            organizações.</p>

                        <p>Além disso, ter uma TI verde é um posicionamento estratégico forte, que
                            sinaliza ao mercado capacidade da empresa em compreender os novos
                            valores da sociedade. O “selo” representa ainda uma valorização de
                            produtos ou serviços, melhorando a reputação da organização e servindo
                            como um chamariz aos olhos de investidores;</p>

                        <p>Em resumo, dentre as vantagens de uma TI verde estão:</p>

                        <p> <ul>
                            <li> Redução dos gastos do energia com um consumo mais inteligente
                            </li>
                            <li> Liberação de espaço físico com servidores na nuvem </li>
                            <li> Redução de custos com servidores locais e com outros
                                equipamentos
                            </li>
                            <li>Modernização de equipamentos e extensão do prazo de
                                manutenção</li>
                            <li>Ganhos de desempenho e produtividade</li>
                            <li>Valorização da marca, imagem e reputação</li>
                        </ul> </p>

                        <h2 id="cmTI"> Passos para começar a transformar sua TI </h2>

                        <p> Neste ponto, você já compreendeu o conceito e também as oportunidades
                            envolvidas na adoção de uma TI verde. Agora, é hora de entender quais
                            práticas você deve adotar no seu departamento para caminhar em uma
                            direção mais sustentável.
                        </p>

                        <p>Para te ajudar, selecionamos 4 pontos de atenção para implementar boas
                            práticas no seu departamento de TI. Confira!</p>

                        <p>1. Reduza o consumo de energia</p>

                        <p>Sua empresa usa um servidor físico próprio? Sem problemas. Mas
                            durante o planejamento da infraestrutura de TI, garanta um local
                            adequado, assim poderá economizar espaço físico e energia –
                            principalmente com o ar condicionado. É isso mesmo!</p>

                        <p>Não é novidade para ninguém que um parque tecnológico saudável
                            demanda o controle da temperatura do ambiente e, por isso, em várias
                            empresas a gestão dos sistemas de ar condicionado é uma
                            responsabilidade dos setores de Tecnologia da Informação.</p>

                        <p>Só que o ar condicionado é um vilão invisível do gasto de energia. E ter
                            servidores/data centers obsoletos muitas vezes sobrecarrega o sistema
                            de refrigeração para manter a produtividade.</p>

                        <p>Sempre que possível, substitua equipamentos antigos por versões mais
                            modernas, que consumam menos energia. A medida aumenta o tempo de
                            vida útil e reduz custos de manutenção com as máquinas.</p>

                        <p>Ah, tem um motivo para que essa seja a primeira medida: a redução no
                            consumo de energia tem consequências imediatas e é facilmente
                            observável.</p>

                        <p>2. Descarte certo</p>

                        <p>Tente reaproveitar materiais que ainda possuem condições de uso. Em
                            caso de perda total, garanta o descarte adequado de equipamentos,
                            periféricos e outros componentes eletrônicos defasados nos postos de
                            coleta especializados.</p>

                        <p>3. Digitalize e desmaterialize</p>
                        
                        <p>O título deste tópico poderia tranquilamente ser “migre para a nuvem”,
                            mas não é apenas isso. Porque estamos falando desde a transição de
                            mídias físicas para as digitais, passando pelo armazenamento de dados na
                            nuvem e promovendo uma reflexão até mesmo mudanças no modelo de
                            negócios, de hardware para software (por que não?).</p>

                        <p>4. Privilegie parceiros com o “selo verde”</p>

                        <p>Você viu aqui que uma TI verde pode colaborar para melhorar a
                            reputação da sua organização, certo? Por que não caminhar na direção da
                            criação de um sistema produtivo sustentável?
                            Na hora de fechar negócio, tenha um olhar cuidadoso para sua cadeia
                            produtiva. Prefira fornecedores e parceiros que estão alinhados com o
                            posicionamento da sua empresa e valorizem as boas práticas ambientais.</p>

                        <p>A TI verde é um bom negócio para os departamentos de Tecnologia da
                            Informação, para as empresas, para os investidores e, é claro, para o
                            planeta.</p>

                        <h2 id="emTI">Empresas que aderiram a TI Verde:</h2>

                        <p> <ul>
                            <li> Google
                            </li>
                            <li> Dreamstime
                            </li>
                            <li> Cisco
                            </li>
                            <li> Ericsson
                            </li>
                            <li> Fujitsu
                            </li>
                            <li> Sprint
                            </li>
                            <li> Wipro
                            </li>
                            <li> Alcatel-Lucent
                            </li>
                            <li> HP
                            </li>
                            <li> Vodafone
                            </li>
                            <li> IBM
                            </li>
                            <li> Dell
                            </li>
                            <li> Microsoft
                            </li>
                            <li> SAP
                            </li>
                            <li> AT&T
                            </li>
                            <li> HCL
                            </li>
                            <li> NTT
                            </li>
                            <li> NEC
                            </li>
                            <li> TCS
                            </li>
                            <li> Oracle
                            </li>
                        </ul> </p>
                        

                    </label>
                </section>
            </div>

            <%- include("./menu.ejs"); %>

        </main>

    </body>

    <footer class="blc" id="footer"> 
        <p> Green Life </p> 
        <p> CopyRight </p>
    </footer>

    <%- include("./scripts.ejs"); %>
</html>