*{
    margin: 0;
    padding: 0;
    max-width: 100%;
}

header{
    width: 100%;
    height: auto;
    background-color: #66cdaa;
    display: flex;
    padding-top: 2%;
    padding-bottom: 1%;
}

nav:not(.ftPerfil){
    width: 100%;
    min-height: 50px; /*Apagar esse quando tiver conteudo no header*/
    height: auto;
    border: none /*#029b68*/;
}

#input{
    margin-left: 20%;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    width: 30%;
    border: none;
    border-radius: 10px;
}

input::placeholder{
    text-align: center;
}

#logo{
    margin-left: 5%;
    width: 10%; /*ARRUMAR AS MEDIDAS QUANDO COLOCAR A LOGO*/
    max-height: 50px;
    transform: translateY(-20%);
}

header button{
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    transform: translateX(-100%);
}

/*CSS DO MENU*/

#menu{
    margin-left: 20%;
    transform: translateX(10px) translateY(10px);
    cursor: pointer;
}

#menu > span{
    display: block;
    width: 28px;
    height: 2px;
    border-radius: 9999px;
    background-color: black;
}

#menu > span:not(:last-child){
    margin-bottom: 7px;
}

#menu, #menu > span{
    transition: all .4s ease-in-out;
}

#menu.active{
    transition-delay: 0.8s;
    transform: rotate(45deg);
    margin-top: 9px;
}

#menu.active > span:nth-child(2){
    width: 0;
}

#menu.active > span:nth-child(1),
#menu.active > span:nth-child(3){
    transition-delay: .4s;
}

#menu.active > span:nth-child(1){
    transform: translateY(9px);
}

#menu.active > span:nth-child(3){
    transform: translateY(-9px) rotate(90deg);
}
/*FIM DO CSS DO MENU*/

/*INICIO DO CSS DO FUNDO E DA ANIMAÇÃO DA DIV MENU*/

#divMenu{
    background-color: transparent;
    position: absolute; /*AJUSTAR ESSE ABSOLUTE QUE NAO TA ACOMPANHANDO A RESPONSIVIDADE*/
    top: 145px;
    right: 0;
}

#divMenu.rem > a{
    opacity: 0;
    transition: .2s ease-out;
}

#divMenu.rem{
    width: 0;
    height: 0;
    transition: .2s ease-out;
}

#divMenu:not(.ativado){
    overflow: hidden;
    opacity: 0;
    width: 0;
    transition: .2s ease-out;
}

#divMenu.ativado{
    background: rgba(0, 0, 0, 0.6);/*rgba(2, 155, 104, 0.5);*/
    width: 100%;
    min-height: 130vh;
    padding-bottom: 10%;
    transition: .2s ease-out;
}

#divMenu.ativado > a{
    color: black;
}

#principal.blc{
    display: block;
}

#principal.ocult{
    display: none;
}

#principal.ocultar{
    opacity: 0;
    transition: .2s ease-out;
}

/*FIM DO CSS DO FUNDO E DA ANIMAÇÃO DA DIV MENU*/

.ftPerfil{
    min-height: 4vmax;
    padding-top: 1%;
    padding-right: 5%;
    background-color: rgba(255, 255, 255, 0.8);
}

.ftPerfil > img{
    height: 3vmax;
    float: right;
    opacity: 1;
    animation: animate 2s infinite linear;
}

@keyframes animate{
    0%, 100%{
        height: 3vmax;
    }
    50%{
        height: 4vmax;
        transform: translate(0.5vmax, -0.5vmax);
    }
}

#esq{
    display: inline-block;
    width: 49%;
    position: relative;
    z-index: 2;
}

#dir{
    display: inline-block;
    width: 40%;
    min-height: 20vw;
    transform: translateY(-70%);
    position: relative;
    opacity: 1;
    font-size: large;
    font-weight: bolder;
    padding-left: 5%;
}

.back{
    opacity: 0.5;
    position: absolute;
    width: 100%;
}

.divForm{
    background-color: rgba(102, 205, 170, 0.5);
    border: solid 2px #029b68;
    border-radius: 10px;
    padding: 7%;
    margin-top: 20%;
    margin-left: 30%;
    width: 40%;
    min-height: 20vw;
    display: inline-block;
}

.divForm > form{
    text-align: center;
}

.divForm > label > span:first-child{
    font-size: xx-large;
    color: white;
}

.divForm > label > span:last-of-type{
    font-size: 1vmax;
    color: white;
}

.divForm > form > input[type="text"], 
.divForm > form > input[type="email"], 
.divForm > form > input[type="password"] {
    margin-bottom: 10%;
    height: 4vh;
    border-radius: 3vh;
    border: none;
    width: 100%;
}

.divForm > form > input[type="submit"]{
    width: 100%;
    height: 4vh;
    border: none;
    border-radius: 3vh;
    margin-top: 5%;
    cursor: pointer;
}

.topicos{
    width: 30%;
    height: 100px;
    list-style-type: circle;
    display: inline-block;
    color: white;
}

.topicos a{
    text-decoration: none;
    color: white;
}