*{
    margin: 0;
    padding: 0;
    max-width: 100%;
}

html{
    scroll-behavior: smooth;
    --back: rgba(107, 190, 35, .7);
}

header{
    width: 100%;
    height: 4vw;
    background-color: var(--back)/*#66cdaa*/;
    display: flex;
    padding-top: 2vw;
    padding-bottom: 1.5vw;
}

footer{
    text-align: center;
    font-size: large;
    background-color: var(--back)/*#66cdaa*/;
    width: 100%;
    min-height: 20vw;
    padding-bottom: 5%;
}

h1{
    margin-top: 5%;
    text-align: center;
    font-size: 3vw;
    margin-bottom: 5%;
    color: var(--back);
    opacity: 1;
    font-family: sans-serif;
}

h2{
    text-align: center;
    font-size: 2vw;
    margin-top: 5%;
    margin-bottom: 5%;
    color: var(--back);
    opacity: 1;
    font-family: sans-serif;
}

a:hover{
    text-decoration: underline;
}

nav:not(.ftPerfil){
    width: 100%;
    height: 4vw;
    border: 1px solid #029b68;
    border-right: none;
    border-left: none;
}

header > form{
    width: 40%;
    margin-left: 20%;
    display: inline-block;
}

#input{
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    width: 70%;
    border: none;
    border-radius: 10px;
    display: inline-block;
}

input::placeholder{
    text-align: center;
}

#logo{
    margin-left: 5%;
    width: 10%; /*ARRUMAR AS MEDIDAS QUANDO COLOCAR A LOGO*/
    max-height: 50px;
    transform: translateY(-20%);
    cursor: pointer;
}

header input[type="submit"]{
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    transform: translateX(-100%);
    display: inline-block;
}

.nav_links{
    height: 2vw;
    background-color: var(--back)/*rgba(102, 205, 170, 0.9)*/;
    border-radius: 2vw;
    width: 10%;
    text-align: center;
    padding-top: 1vw;
    margin-left: 12%;
    margin-top: 0.5vw;
    font-size: 1vw;
    display: inline-block;
    cursor: pointer;
    font-family: sans-serif;
}

.nav_links a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/*CSS DO MENU*/

#menu{
    margin-left: 10%;
    transform: translateX(10px) translateY(10px);
    cursor: pointer;
}

#menu > span{
    display: block;
    width: 28px;
    height: 2px;
    border-radius: 9999px;
    background-color: black;
}

#menu > span:not(:last-child){
    margin-bottom: 7px;
}

#menu, #menu > span{
    transition: all .4s ease-in-out;
}

#menu.active{
    transition-delay: 0.8s;
    transform: rotate(45deg);
    margin-top: 9px;
}

#menu.active > span:nth-child(2){
    width: 0;
}

#menu.active > span:nth-child(1),
#menu.active > span:nth-child(3){
    transition-delay: .4s;
}

#menu.active > span:nth-child(1){
    transform: translateY(9px);
}

#menu.active > span:nth-child(3){
    transform: translateY(-9px) rotate(90deg);
}
/*FIM DO CSS DO MENU*/

/*INICIO DO CSS DO FUNDO E DA ANIMAÇÃO DA DIV MENU*/

#divMenu{
    background-color: transparent;
    position: absolute; /*AJUSTAR ESSE ABSOLUTE QUE NAO TA ACOMPANHANDO A RESPONSIVIDADE*/
    top: 11.5vw;
    right: 0;
}

#divMenu.rem > a{
    opacity: 0;
    transition: .2s ease-out;
}

#divMenu.rem{
    width: 0;
    height: 0;
    transition: .2s ease-out;
}

#divMenu:not(.ativado){
    overflow: hidden;
    opacity: 0;
    width: 0;
    transition: .2s ease-out;
}

#divMenu.ativado{
    background: rgba(0, 0, 0, 0.6);/*rgba(2, 155, 104, 0.5);*/
    width: 100%;
    min-height: 130vh;
    padding-bottom: 10%;
    transition: .1s ease-out;
}

#divMenu.ativado > a{
    color: black;
}

#main{
    min-height: 200px;
    width: 100%;
    margin-top: 3vw;
}

#principal > .banner{
    width: 60%;
    border-radius: 1vw;
}

#principal.blc{
    display: block;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.ocult{
    display: none;
}

.ocultar{
    opacity: 0;
    transition: .2s ease-out;
}

.ctr:not(.exc):not(.icones_emp){
    display: flex;
    width: 100%;
    text-align: left;
}

.ctr label{
    margin-right: 10%;
    margin-left: 10%;
    padding: 1%;
    border-left: #029b68 1px solid;
    border-right: #029b68 1px solid;
}

.ctr img:not(.exc):not(.icones_emp){
    width: 40%;
    float: right;
    border-radius: 5vw;
    margin-left: 1vw;
}

.exc{
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin-left: 20%;
}

.ctr > label p{
    text-indent: 3vw;
    font-size: 1.5vw;
    margin-bottom: 2%;
}

.ctr ul > li{
    margin-left: 10%;
    font-size: 1.5vw;
}

.ctr ol > li{
    margin-left: 10%;
    font-size: 1.5vw;
}

/*FIM DO CSS DO FUNDO E DA ANIMAÇÃO DA DIV MENU*/

.ftPerfil{
    min-height: 4vmax;
    padding-top: 1%;
    padding-right: 5%;
    background-color: rgba(255, 255, 255, 0.8);
}

.ftPerfil > img{
    height: 3vmax;
    float: right;
    opacity: 1;
    animation: animate 2s infinite linear;
    cursor: pointer;
}

@keyframes animate{
    0%, 100%{
        height: 3vmax;
    }
    50%{
        height: 4vmax;
        transform: translate(0.5vmax, -0.5vmax);
    }
}

#esq{
    display: inline-block;
    width: 49%;
    position: absolute;
    z-index: 2;
}

#dir{
    display: inline-block;
    width: 45%;
    min-height: 30vw;
    position: absolute;
    opacity: 1;
    font-size: large;
    font-weight: bolder;
    padding-left: 5%;
    margin-top: 10%;
    left: 40%;
}

.back{
    opacity: 0.5;
    position: absolute;
    width: 100%;
}

.divForm{
    background-color: var(--back)/*rgba(102, 205, 170, 0.5)*/;
    border: solid 2px #029b68;
    border-radius: 10px;
    padding: 7%;
    margin-top: 20%;
    margin-left: 10%;
    width: 45%;
    min-height: 20vw;
    display: inline-block;
}

.max{
    font-size: xx-large;
    color: white;
}

.min{
    font-size: 1vmax;
    color: white;
    text-align: left;
}

.link:hover{
    text-decoration: underline;
    cursor: pointer;
}

.divForm > form > input[type="text"], 
.divForm > form > input[type="email"], 
.divForm > form > input[type="password"] {
    margin-bottom: 10%;
    height: 4vh;
    border-radius: 3vh;
    border: none;
    width: 100%;
}

.divForm > form > input[type="submit"]{
    width: 100%;
    height: 4vh;
    border: none;
    border-radius: 3vh;
    margin-top: 5%;
    cursor: pointer;
}

.topicos{
    width: 60%;
    height: 100px;
    list-style-type: circle;
    display: block;
    color: white;
    padding-left: 10%;
}

.topicos a{
    text-decoration: none;
    color: white;
}

.topicos a:hover{
    text-decoration: underline;
}

.topicos li{
    padding-top: 10%;
}

.topicos li > ul{
    margin-left: 20%;
}

.topicos ul:nth-child(odd){
    right: 0;
}

.lf{
    display: inline-block;
}


.perfilFt{
    width: 15vw;
    height: 15vw;
    border-radius: 15vw;
    border: #029b68 1px solid;
    margin-bottom: 10%;
}

.divPerfil{
    background-color: rgba(102, 205, 170, 0.5);
    border: solid 2px #029b68;
    border-radius: 10px;
    padding-top: 2%;
    width: 40%;
    min-height: 20vw;
    display: inline-block;
}

.divPerfil input[type="text"]{
    margin-bottom: 5%;
    height: 4vh;
    border-radius: 3vh;
    border: 1px #029b68 solid;
    background-color: transparent;
    color: rgb(0, 0, 0, 0.8);
    width: 50%;
    text-align: center;
}

.divPerfil input[type="text"]:focus{
    border: #029b68 5px solid;
}

.divPerfil input[type="submit"]:not(.nop){
    width: 50%;
    height: 4vh;
    border: none;
    border-radius: 3vh;
    cursor: pointer;
    margin-bottom: 5%;
}

.divPerfil input[type="submit"]:hover{
    border: double #029b68 2px;
}

.divPerfil input[name="apagar"], .divPerfil button[name="deslogar"]{
    min-width: 20%;
    height: 2vw;
    margin-bottom: 3%;
    border: none;
    cursor: pointer;
    border-radius: 3vh;
}

.divPerfil input[name="apagar"]:hover{
    color: red;
    border: double 1px;
    border-color: red;
}

.divPerfil button[name="deslogar"]:hover{
    color: rgba(0, 0, 0, 0.3);
    border: double 1px;
    border-color: rgba(0, 0, 0, 0.3);
}

#ft{
    position: absolute;
    border-radius: 50%;
    width: 15vw;
    height: 15vw;
    opacity: 0;
    cursor: pointer;
}

hr{
    margin-bottom: 5%;
}

/*carrossel*/

.js-carousel--simple{
    width: 60%; 
    margin-top: 2%; 
    border: rgba(2, 155, 104, 0.2) 1px solid; 
    border-radius: 10%; 
    margin-bottom: 2%;
}

.glider-slide{
    min-width: 100% !important;
    cursor: pointer;
}

.glider-track{
    width: 100% !important;
}

.js-carousel--simple-prev{
    width: 3%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.js-carousel--simple-prev.disabled{
    display: none;
}

.js-carousel--simple-next.disabled{
    display: none;
}

.js-carousel--simple-next{
    width: 3%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.logos{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
    }
    
    .logos .logo{
    height: 150px;
    background-size: cover !important
    }
    
    .logos .logo img {
    height: 100px;
    width: 150px
    }

.imgs{
    height: 30vw;
    width: 100%;
    border-radius: 1vw;
    position: absolute;
    left: 0;
    
}

.ts{
    transition: .5s ease;
}

.dir{
    width: 0;
    height: 30vw;
    transition: .5s ease;
}

#back-wave{
    background-color: white;
    width: 100%;
    height: 9vw;
    border-bottom-left-radius: 70%;
    border-bottom-right-radius: 70%;
    margin-bottom: 5%;
}

footer > label{
    font-size: xx-large;
}

.icons{
    position: fixed;
    right: 0;
    top: 20vw;
    width: 3vw;
    height: 3vw;
    z-index: 100;
    cursor: pointer;
}

#tabadm{
    width: 60%;
    margin-left: 20%;
}

.btnadm{
    width: 4%;
    font-size: 1vw;
    margin-left: 48%;
    margin-top: 5%;
}

.cont{
    width: 100%;
    text-align: left;
}

.qry{
    width: 60%;
    margin-left: 20%;
    background-color: rgba(102, 205, 170, 0.7);
    min-height: 5vw;
    padding: 2vw;
    border-radius: 2vw;
    color: rgb(102, 102, 102);
}

.qry:hover{
    background-color: rgba(102, 205, 170, 0.9);
    cursor: pointer;
    color: rgb(65, 65, 65);
}

.qry > label:hover{
    color: rgb(65, 65, 65);
    cursor: pointer;
}

h3{
    color: rgba(0, 0, 0, 0.8);
}

.foot_mob{
    display: none;
}

.cadmob{
    display: none;
}

.no-list{
    list-style-type: none;
}

.icones_emp{
    width: 20px;
    height: 20px;
    display: inline-block;
}

.fale{
    font-size: 2vw;
}

.fale a{
    color: white;
}

.fale span:not(:first-child){
    margin: 0 5%;
}

#form input[type="text"], #form input[type="password"], #form input[type="email"], #form2 input[type="text"], #form2 input[type="password"], #form2 input[type="email"] {
    padding-left: 1vh;
}